body{
    background-color: #eff;
}

h1{
    margin-top: 5%;
    text-align: center;
    font-size: 300%;
    /* font-weight: bold; */
    font-family:Arial, Helvetica, sans-serif;
}

#main_table{
    width: 30%;
    min-width: 500px;
    margin: 4% auto;
    border: 0.5px solid #eee;
    min-height: 700px;
    background-color: #fff;
    box-shadow: #ddd 0px 0px 10px;
    padding: 2% 2%;
    box-sizing: border-box;
}

#buttonsContainer{
    display: flex;
    /* margin-left: 60%; */
    justify-content: flex-end;
    margin
}

.add,
.save{
    padding: 8px;
    min-width: 100px;
    background-color: #39A7FF;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.save{
    background-color: white;
    color: #39A7FF;
    border: 1px solid #39A7FF;
}

.add:hover,
.save:hover{
    box-shadow: #bbb 0px 0px 20px;
    cursor: pointer; 
    /* font-weight: bold; */
}

/* .save{
    padding: 8px;
    width: 100px;
    position: absolute;
    right: 500px;
    top: 80%;
    background-color: #39A7FF;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 85%;
    box-shadow: #ccc 0px 0px 10px;
    margin-bottom: 30px;
} */



.task{
    box-sizing: border-box;
    padding: 4px;
    border: 0.1px solid #dee;
    box-shadow: #ddd 0px 0px 10px;
    margin-bottom: 10px;
}

.task_title{
    margin-right: 20px;
    border: none;
}

.sub_task{
    margin-left: 50px;
}

.big_task{
    font-size: 20px;
    font-weight: bold;
}

.text-through{
    text-decoration: line-through;
    color: gray;
}

input[type='checkbox'] {
    accent-color: gray;
}
